@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}


@section icon{
    <img src="images/logo1.png">
}
@section slcart{

    @if (Model.cart == null)
    {
        <i>0 </i>
    }
    else
    {
        var soluong = 0;
        @foreach (var item in Model.cart)
        {
            soluong++;

        }
        <i>@soluong </i>

    }
}
@section headers{


    @if (@HttpContext.Session.GetString("username") != null)
    {

        <li>
            Hello <a asp-page="/users/details" asp-route-id="@HttpContext.Session.GetString("userid")">@HttpContext.Session.GetString("username")</a>
        </li>
        <li>
            <form method="post">
                <input asp-page="/Account/Logout/DangXuat" type="submit" value="Log out" />
            </form>
        </li>

    }
    else    //chua dang nhap
    {

        <li>
            <a asp-page="/Account/Login/DangNhap"><i class="fa fa-unlock"></i> Đăng nhập</a>
        </li>
        <li>
            <a asp-page="/Account/Register/DangKy"><i class="fa fa-share-square-o"></i> Đăng ký</a>
        </li>
    }

}

@section search{
    <form method="get" class="form-inline">
        <div class="form-group">
            <input type="text" asp-for="CurrentFilterProduct" placeholder="Keyword" class="form-control">
            <button asp-page="/Products/index" value="Search" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
    </form>
}
<div class="col_content">
    <div class="content_guide">
        <div class="title">
            <h3>GIỚI THIỆU</h3>
            <span>Team 3's shop là gì?</span>
        </div>
        <div class="content temp_option_2_post">
            <p>
                Trải qua nhiều cố gắng, nỗ lực với mong muốn được phục vụ khách hàng một cách tốt nhất, công ty Cổ phần Truyền Thông Việt Nam đã cho ra đời một sản phẩm thương mại điện tử miễn phí – Team3sshop.com
                Với giao diện thân thiện,dễ sử dụng, Team3sshop.com phục vụ khách hàng 24/24  và đảm bảo các mặt hàng được bán có đầy đủ uy tín và chất lượng.
            <p>Tại đây, khách khi đăng kí làm thành viên có thể theo dõi những sản phẩm từ các thương hiệu hàng đầu và được hưởng các ưu đãi đặc biệt. Người mua luôn có nhiều lựa chọn để có được hàng hóa tốt nhất.</p>
            Team3sshop sẽ không ngừng nâng cấp, cải tiến, mong muốn những dịch vụ của mình sẽ đem đến cho quý khách hàng mọi thông tin bạn cần bất cứ lúc nào, ở bất kỳ đâu với chất lượng cao nhất. Ngoài ra còn có các dịch vụ chăm sóc khách hàng, miễn phí tư vấn các thiết bị.
            <p>Team3sshop cũng thường xuyên có các đợt giảm giá, khuyến mãi, và các sự kiện ưu đãi đặc biệt đối với các ngày lễ.</p>
            <p>Hi vọng khách hàng có thể tin tưởng trải nghiệm dịch vụ của chúng tôi. Xin chân thành cảm ơn.</p>
        </div>
    </div>
</div>